<?xml version="1.0"?>
<configuration>
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" />
    </system.web>

    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
</configuration>
